# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/var
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
downloaded_sheet.xlsx
output_converted.xlsx

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/lib/python*
/bin
/include
/uploads
__pycache__
.python-version
/.pytest_cache
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/


#build
version.txt
public/build-info.json
